* {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	padding: 0;
	margin: 0;
	
	font-family: 'bryantmedium_condensed';
}

body {
/* 	background: black; */
}

section#wrapper {
	position: relative;
	margin: 0 auto;
}

svg,
header {
	display: block;
	position: relative;
	background: white;
}

header {
	height: 40px;
}
header div {
	float: left;
	margin-top: 7px;
}
header div.right {
	float: right;
	text-align: right;
}
header div.right,
header div.left {
	width: 20%;
}
header div.title {
	width: 60%;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
}

svg line.line50 {
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-width: 2;
	opacity: 0.5;
	display: block;
}

svg rect.bar_male,
svg rect.bar_female {
	cursor: pointer;
}

svg g.bar_year > rect.bar_male,
svg g.bar_school > rect.bar_male,
svg g.bar_subject > rect.bar_male {
	fill: url(#gradientMale);
}
svg g.bar_year > rect.bar_female,
svg g.bar_school > rect.bar_female,
svg g.bar_subject > rect.bar_female {
	fill: url(#gradientFemale);
}

svg g.bar_year.hover > rect.bar_male,
svg g.bar_school.hover > rect.bar_male,
svg g.bar_subject.hover > rect.bar_male {
	fill: url(#gradientMaleOver);
}
svg g.bar_year.hover > rect.bar_female,
svg g.bar_school.hover > rect.bar_female,
svg g.bar_subject.hover > rect.bar_female {
	fill: url(#gradientFemaleOver);
}


body.level_1 svg g.bar_year > rect.bar_male,
body.level_1 svg g.bar_year > rect.bar_female,
body.level_2 svg g.bar_school > rect.bar_male,
body.level_2 svg g.bar_school > rect.bar_female,
body.level_3 svg g.bar_subject > rect.bar_male,
body.level_3 svg g.bar_subject > rect.bar_female {
	fill: #a8a4af; /* hell */
}



body.level_2 svg g.bar_year > rect.bar_male,
body.level_2 svg g.bar_year > rect.bar_female,
body.level_3 svg g.bar_school > rect.bar_male,
body.level_3 svg g.bar_school > rect.bar_female {
	fill: #746e7f; /* mittel */
}



body.level_3 svg g.bar_year > rect.bar_male,
body.level_3 svg g.bar_year > rect.bar_female {
	fill: #453f52; /* dunkel */
}

body svg g.bar_year.hover > rect.bar_male,
body svg g.bar_school.hover > rect.bar_male,
body svg g.bar_subject.hover > rect.bar_male {
	fill: url(#gradientMaleOver);
}
body svg g.bar_year.hover > rect.bar_female,
body svg g.bar_school.hover > rect.bar_female,
body svg g.bar_subject.hover > rect.bar_female {
	fill: url(#gradientFemaleOver);
}

/* breadcrump */
g.breadcrump rect {
	fill: #ccc;
}
g.breadcrump text {
	text-anchor: middle;
	font-size: 13px;
}

/* info text */
svg  text.info_female,
svg  text.info_male {
	fill: white;
	opacity: 0;
}
svg  g.hover > text.info_female,
svg  g.hover > text.info_male {
	opacity: 1;
}

/* label back */
svg g.back rect {
	stroke: white;
	fill: black;
	cursor: pointer;
}
svg g.back text {
	fill: white;
	font-size: 13px;
	cursor: pointer;
}

body.level_1 svg g#year_back_bottom rect,
body.level_1 svg g#year_back_top rect,
body.level_2 svg g.bar_year > g.back rect,
body.level_3 svg g.bar_school > g.back rect {
	fill: #746e7f; /* mittel */
}

body.level_2 svg g#year_back_bottom rect,
body.level_2 svg g#year_back_top rect,
body.level_3 svg g.bar_year > g.back rect {
	fill: #453f52; /* dunkel */
}


/* label */
svg g.label rect {
	fill: white;
}
svg g.label text {
	fill: #0f091d;
	cursor: pointer;
	font-size: 13px;
}
svg g.hover > g.label rect {
	fill: #0f091d;
}
svg g.hover > g.label text {
	fill: white;
	font-size: 13px;
}

/* detail */

g.detail rect {
	fill: url(#gradientDetail);
}

g.detail text {
	fill: white;
}

g.detail text.label {
	font-size: 15px;
}
g.detail text.label {
	font-size: 15px;
}
g.detail text.value {
	font-size: 30px;
}

path.line {
	fill: none;
	stroke: #777;
    shape-rendering: crispEdges;
}
path.female {
	stroke: red;
}
path.male {
	stroke: blue;
}

/* info screen */
#info {
	position: absolute;
	top: -800px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, 0.7);
	
	color: white;
	
	transition-property: opacity top;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: opacity top;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
#info.show {
	opacity: 1;
	top: 0px;
}
#info .content {
	margin-left: 100px;
	margin-top: 100px;
}


/* font */
@font-face {
    font-family: 'bryantmedium_condensed';
    src: url('font/bryant-mediumcondensed.eot');
    src: url('font/bryant-mediumcondensed.eot?#iefix') format('embedded-opentype'),
         url('font/bryant-mediumcondensed.woff2') format('woff2'),
         url('font/bryant-mediumcondensed.woff') format('woff'),
         url('font/bryant-mediumcondensed.ttf') format('truetype'),
         url('font/bryant-mediumcondensed.svg#bryantmedium_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bryantregular_condensed';
    src: url('font/bryant-regularcondensed.eot');
    src: url('font/bryant-regularcondensed.eot?#iefix') format('embedded-opentype'),
         url('font/bryant-regularcondensed.woff2') format('woff2'),
         url('font/bryant-regularcondensed.woff') format('woff'),
         url('font/bryant-regularcondensed.ttf') format('truetype'),
         url('font/bryant-regularcondensed.svg#bryantregular_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}