* {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	font-family: arial;
}

svg {
	display: block;
	position: relative;
	margin: 0 auto;
}

svg line.line50 {
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-width: 2;
	
	display: none;
}

svg g rect {
	cursor: pointer;
}



svg g.bar_year > rect.bar_male,
svg g.bar_school > rect.bar_male,
svg g.bar_subject > rect.bar_male {
	fill: url(#gradientMale);
}
svg g.bar_year > rect.bar_female,
svg g.bar_school > rect.bar_female,
svg g.bar_subject > rect.bar_female {
	fill: url(#gradientFemale);
}

svg g.bar_year.hover > rect.bar_male,
svg g.bar_school.hover > rect.bar_male,
svg g.bar_subject.hover > rect.bar_male {
	fill: url(#gradientMaleOver);
}
svg g.bar_year.hover > rect.bar_female,
svg g.bar_school.hover > rect.bar_female,
svg g.bar_subject.hover > rect.bar_female {
	fill: url(#gradientFemaleOver);
}


body.level_1 svg g.bar_year > rect.bar_male,
body.level_1 svg g.bar_year > rect.bar_female,
body.level_2 svg g.bar_school > rect.bar_male,
body.level_2 svg g.bar_school > rect.bar_female,
body.level_3 svg g.bar_subject > rect.bar_male,
body.level_3 svg g.bar_subject > rect.bar_female {
	fill: #453f52; /* dunkel */
}
body.level_2 svg g.bar_year > rect.bar_male,
body.level_2 svg g.bar_year > rect.bar_female,
body.level_3 svg g.bar_school > rect.bar_male,
body.level_3 svg g.bar_school > rect.bar_female {
	fill: #746e7f; /* mittel */
}

body.level_3 svg g.bar_year > rect.bar_male,
body.level_3 svg g.bar_year > rect.bar_female {
	fill: #a8a4af; /* hell */
}


/* info text */
svg  text.info {
	fill: white;
	opacity: 0;
}
svg  g.hover > text.info {
	opacity: 1;
}

/* label */
svg g.label rect {
	fill: white;
}
svg g.label text {
	fill: #0f091d;
	font-family: arial;
	cursor: pointer;
	font-size: 12px;
}
svg g.hover > g.label rect {
	fill: #0f091d;
}
svg g.hover > g.label text {
	fill: white;
}


/* infoContainer */
div.infoContainer {
	position: absolute;
	width: 230px;
	background: white;
	top: 0px;
	left: 50%;
	padding: 10px;
	
	color: #333;
	font-family: arial;
	font-size: 14px;
	
	
	transition-property: left top;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: left top;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
}

div.infoContainer h1 {
	font-size: 16px;
}

div.infoContainer.back {
	width: 150px;
	background: black;
	color: white;
	text-align: center;
}

path.line {
	fill: none;
	stroke: #777;
    shape-rendering: crispEdges;
}